  @import "tailwindcss";

  @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
 
#navbar-fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
#navbar-fixed.scroll {
    box-shadow: 0px 8px 35px 0px #0000000D;
    background-color: black;
    color: black;
}


 input[id="menu-icon"]:checked~.navbar-fixed {
           position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    }
 
 
 
 
 
 
 
 
 
 
 
 
 
 

@media (max-width:991.98px) { 
   #navbar-fixed{
    z-index: 2;
   }
   
}
 
 
 

 

 

 
 
 

 
  